<!DOCTYPE html>
<html>
    <head>
        <title>PROJETO IOT</title>
        <meta http-equiv="refresh" content="100" />
        
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        
        <script src="static/js/gauge.min.js"></script>
        
        <style>
            
            *, *:before, *:after {
                
                box-sizing: border-box;
                
            }
            
            html, body {
                
                margin: 0;
                padding: 0;
                
            }
            
            html, body, .container {
                
                width: 100%;
                height: 100%;
                
            }
            
            body {
                
                background: url(static/img/bg.png) no-repeat;
                background-size: cover;
                
            }
            
            .h-100 { height: 100% }
            .w-100 { width: 100% }
            
            .bg-transp-white { background-color: #fff8; }
            
        </style>
    </head>
    
    <body>
        
        <div class="container">
            
            <div class="row">
                
                <div class="col-md-12">
                
                    <div class="p-5">
                    
                        <div class="card bg-transp-white">
                        
                            <div class="card-body">
                            
                                <div class="row pb-3">
                                
                                    <div class="col-md-4">

                                        <div class="card text-center">

                                            <div class="card-body">

                                                <h5 class="card-title">Tensão</h5>

                                                <canvas data-type="radial-gauge"
                                                    data-width="150"
                                                    data-height="150"
                                                    data-units="V"
                                                    data-title="false"
                                                    data-value="{{variavel}}"
                                                    data-animate-on-init="true"
                                                    data-animated-value="true"
                                                    data-min-value="0"
                                                    data-max-value="220"
                                                    data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220"
                                                    data-minor-ticks="2"
                                                    data-stroke-ticks="false"
                                                    data-highlights='[
                                                        { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                                                        { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                                                        { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                                                        { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                                                        { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
                                                    ]'
                                                    data-color-plate="#000b16"
                                                    data-color-major-ticks="#f5f5f5"
                                                    data-color-minor-ticks="#ddd"
                                                    data-color-title="#fff"
                                                    data-color-units="#ccc"
                                                    data-color-numbers="#eee"
                                                    data-color-needle-start="rgba(240, 128, 128, 1)"
                                                    data-color-needle-end="rgba(255, 160, 122, .9)"
                                                    data-value-box="true"
                                                    data-animation-rule="linear"
                                                    data-animation-duration="250"
                                                    data-border-outer-width="3"
                                                    data-border-middle-width="3"
                                                    data-border-inner-width="3">
                                                </canvas>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="card text-center">

                                            <div class="card-body">

                                                <h5 class="card-title">Potência</h5>

                                                <canvas data-type="radial-gauge"
                                                    data-width="150"
                                                    data-height="150"
                                                    data-units="W"
                                                    data-title="false"
                                                    data-value="{{variavel3}}"
                                                    data-animate-on-init="true"
                                                    data-animated-value="true"
                                                    data-min-value="0"
                                                    data-max-value="220"
                                                    data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220+"
                                                    data-minor-ticks="2"
                                                    data-stroke-ticks="false"
                                                    data-highlights='[
                                                        { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                                                        { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                                                        { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                                                        { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                                                        { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
                                                    ]'
                                                    data-color-plate="#000b16"
                                                    data-color-major-ticks="#f5f5f5"
                                                    data-color-minor-ticks="#ddd"
                                                    data-color-title="#fff"
                                                    data-color-units="#ccc"
                                                    data-color-numbers="#eee"
                                                    data-color-needle-start="rgba(240, 128, 128, 1)"
                                                    data-color-needle-end="rgba(255, 160, 122, .9)"
                                                    data-value-box="true"
                                                    data-animation-rule="linear"
                                                    data-animation-duration="250"
                                                    data-border-outer-width="3"
                                                    data-border-middle-width="3"
                                                    data-border-inner-width="3">
                                                </canvas>

                                            </div>

                                        </div>

                                    </div>

                                    <div class="col-md-4">

                                        <div class="card text-center">

                                            <div class="card-body">

                                                <h5 class="card-title">Consumo</h5>

                                                <canvas data-type="radial-gauge"
                                                    data-width="150"
                                                    data-height="150"
                                                    data-units="KWh"
                                                    data-title="false"
                                                    data-value="{{variavel4}}"
                                                    data-animate-on-init="true"
                                                    data-animated-value="true"
                                                    data-min-value="0"
                                                    data-max-value="220"
                                                    data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220+"
                                                    data-minor-ticks="2"
                                                    data-stroke-ticks="false"
                                                    data-highlights='[
                                                        { "from": 0, "to": 50, "color": "rgba(0,255,0,.15)" },
                                                        { "from": 50, "to": 100, "color": "rgba(255,255,0,.15)" },
                                                        { "from": 100, "to": 150, "color": "rgba(255,30,0,.25)" },
                                                        { "from": 150, "to": 200, "color": "rgba(255,0,225,.25)" },
                                                        { "from": 200, "to": 220, "color": "rgba(0,0,255,.25)" }
                                                    ]'
                                                    data-color-plate="#000b16"
                                                    data-color-major-ticks="#f5f5f5"
                                                    data-color-minor-ticks="#ddd"
                                                    data-color-title="#fff"
                                                    data-color-units="#ccc"
                                                    data-color-numbers="#eee"
                                                    data-color-needle-start="rgba(240, 128, 128, 1)"
                                                    data-color-needle-end="rgba(255, 160, 122, .9)"
                                                    data-value-box="true"
                                                    data-animation-rule="linear"
                                                    data-animation-duration="250"
                                                    data-border-outer-width="3"
                                                    data-border-middle-width="3"
                                                    data-border-inner-width="3">
                                                </canvas>

                                            </div>

                                        </div>

                                    </div>
                                    
                                </div>
                                
                                <div class="row row-eq-height">
                                
                                    <div class="col-md-6">
                                    
                                        <div class="card">

                                            <div class="card-body">

                                                <div class="row">

                                                    <div class="col-md-12">

                                                        <h2><b>Tensão:</b> <span id="span-tensao">{{variavel}}</span>V</h2>

                                                    </div>

                                                    <div class="col-md-12">

                                                        <h2><b>Corrente:</b> <span id="span-corrente">{{variavel2}}</span>A</h2>

                                                    </div>

                                                    <div class="col-md-12">

                                                        <h2><b>Potência:</b> <span id="span-potencia">{{variavel3}}</span>W</h2>

                                                    </div>

                                                    <div class="col-md-12">

                                                        <h2><b>Consumo:</b> <span id="span-consumo">{{variavel4}}</span>KWh</h2>

                                                    </div>

                                                </div>

                                            </div>

                                        </div>
                                        
                                    </div>
                                    
                                    <div class="col-md-6">
                                        
                                        <div class="card h-100">

                                            <div class="card-body">
                                                
                                                <h1><b>Você está gastando:</b></h1>
                                                <h2 id="span-custo">R$ {{variavel5}}</h2>
                                                
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                    
                </div>

            </div>
            
        </div>
            
        

        
        
        <script type="text/javascript">
            
            var elGaugeTensao, elGaugePotencia, elGaugeConsumo;
            var elSpanTensao, elSpanCorrente, elSpanPotencia, elSpanConsumo, elSpanCusto;
            
            function requestData() {
                
                return $.ajax({

                    url: "/Projeto",
                    type: "POST",
                    data: "",
                    dataType: "JSON"

                }).done(function(oData) {
                    
                    elGaugeTensao.value = oData.variavel;
                    elGaugePotencia.value = oData.variavel3;
                    elGaugeConsumo.value = oData.variavel4;

                    elSpanTensao.text(oData.variavel);
                    elSpanCorrente.text(oData.variavel2);
                    elSpanPotencia.text(oData.variavel3);
                    elSpanConsumo.text(oData.variavel4);
                    elSpanCusto.text("R$ " + oData.variavel5);
                    
                    requestData();

                });
                
            }
        
            $(document).ready(function() {
                
                elGaugeTensao = gauges.get(0);
                elGaugePotencia = gauges.get(1);
                elGaugeConsumo = gauges.get(2);
                
                elSpanTensao = $("#span-tensao");
                elSpanCorrente = $("#span-corrente");
                elSpanPotencia = $("#span-potencia");
                elSpanConsumo = $("#span-consumo");
                elSpanCusto = $("#span-custo");
                
                requestData().promise().done(function(oData) {
                    
                    console.log(oData);
                    
                });
                
            });
            
        </script>
        
    </body>
</html>